<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <form>
        <div class="form-group">
          <label for="name">Process Name</label>
          <input class="form-control" type="text" name="name" id="name" [(ngModel)]="inputProcess.name">
        </div>
        <div class="form-group">
          <label for="arrival-time">Arrival Time</label>
          <input class="form-control" type="number" name="arrival-time" id="arrival-time" [(ngModel)]="inputProcess.arrivalTime">
        </div>
        <div class="form-group">
          <label for="execute-time">Execute Time</label>
          <input class="form-control" type="number" name="execute-time" id="execute-time" [(ngModel)]="inputProcess.executionTime">
        </div>
        <button class="btn btn-primary" (click)="addProcess()">Add</button>
      </form>
    </div>
    <div class="col-sm-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Process Name</th>
            <th>Arrival Time</th>
            <th>Execute Time</th>
            <th>Turnaround</th>
          </tr>
        </thead>
        <tbody>
          <tr></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
