<div class="container-fluid">
  <div class="row">
    <header class="header">
      <h1>Simulador Round Robin</h1>
      <button class="btn btn-outline-primary" disabled>Cockpit</button>
      <button class="btn btn-outline-primary" [disabled]="processControl.length ==  0">Simulador</button>
    </header>
  </div>
  <div class="row cockpit">
    <div class="col-sm-4">
      <form class="form">
        <div class="form-group">
          <label for="name">Nome do Processo</label>
          <input class="form-control" type="text" name="name" id="name" required [(ngModel)]="inputProcess.name">
        </div>
        <div class="form-group">
          <label for="arrival-time">Tempo de Chegada</label>
          <input class="form-control" type="number" name="arrival-time" id="arrival-time"
                 [(ngModel)]="inputProcess.arrivalTime">
        </div>
        <div class="form-group">
          <label for="execute-time">Tempo de Execução</label>
          <input class="form-control" type="number" name="execute-time" id="execute-time"
                 [(ngModel)]="inputProcess.executionTime">
        </div>
        <button class="btn btn-primary" (click)="addProcess()">Add</button>
      </form>
      <form class="form">
        <div class="form-group">
          <label for="quantum">Quantum</label>
          <input class="form-control" type="number" name="quantum" id="quantum"
                 [(ngModel)]="quantum">
        </div>
      </form>
    </div>
    <div class="col-sm-8">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Process Name</th>
          <th>Arrival Time</th>
          <th>Execute Time</th>
          <th>Turnaround</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let process of processControl;index as i;">
          <td>{{process.name}}</td>
          <td>{{process.arrivalTime}}</td>
          <td>{{process.executionTime}}</td>
          <td></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="3">Tempo Total</td>
          <td>{{totalTime}}</td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <button (click)="runRoundRobin()">Run</button>
  <div class="col-sm-12">
    <table class="table table-bordered">
      <tbody>
        <tr *ngFor="let linha of matrizExecucao;">
          <td *ngFor="let mark of linha;" ngClass="{'green': mark == 1, 'white': mark == 0}">             
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
